<div class="about-profile-card">

    <!-- Ilmiy rahbar -->

    <div class="profile-person">

        <img src="{{ url_for('static', filename='images/supervisor.jpg') }}" alt="Ilmiy rahbar">

        <div>

            <h3>👨‍🏫 Xodjayev Begzod Xudoyberdiyevich</h3>

            <p>
                Pedagogika fanlari doktori (DSc), professor
            </p>

            <p>📍 Toshkent shahri</p>

            <p>📧 E-mail manzili</p>

        </div>

    </div>

    <!-- Muallif -->

    <div class="profile-person">

        <img src="{{ url_for('static', filename='images/author.jpg') }}" alt="Muallif">

        <div>

            <h3>Niyozov Javlonbek Jaxongir o‘g‘li</h3>

            <p>
                Toshkent Kimyo Xalqaro Universiteti Namangan filiali
                katta o‘qituvchisi
            </p>

            <p>
                PhD tadqiqotchisi.
                "Muzey pedagogikasi vositasida tarixiy tafakkurni
                rivojlantirish metodikasi" mavzusida ilmiy izlanish
                olib bormoqda.
            </p>

            <p>📧 j.niyozov@kiut.uz</p>

        </div>

    </div>

</div>
