{% extends "base.html" %}

{% block title %}Akademik yutuqlar{% endblock %}

{% block content %}

<section class="hero">

    <div class="hero-overlay">
        <div class="hero-content">
            <h1>Akademik yutuqlar</h1>
            <p>Ilmiy maqolalar, konferensiyalar, sertifikatlar va akademik faoliyat natijalari.</p>
        </div>
    </div>

</section>

<section class="students-page">

<div class="portfolio-grid">

   <div class="portfolio-card">
    <h3>📄 Ilmiy maqolalar</h3>
    <ul>
        <li>Methodology for Developing Historical Thinking Competence of Pre-service History Teachers Based on Museum Pedagogy</li>
        <li>Bo‘lajak tarix o‘qituvchilarida tarixiy tafakkurni rivojlantirishda muzey pedagogikasining pedagogik salohiyati</li>
    </ul>
</div>

<div class="portfolio-card">
    <h3>🎤 Konferensiyalar</h3>
    <ul>
        <li>Respublika ilmiy-amaliy konferensiyasi</li>
        <li>Xalqaro ilmiy konferensiya</li>
    </ul>
</div>

<div class="portfolio-card">
    <h3>🏅 Sertifikatlar</h3>
    <ul>
        <li>Malaka oshirish sertifikati</li>
        <li>Ilmiy seminar sertifikati</li>
    </ul>
</div>

<div class="portfolio-card">
    <h3>💰 Ilmiy loyihalar</h3>
    <p>Grantlar va ilmiy tadqiqot loyihalari.</p>
</div>

<div class="portfolio-card">
    <h3>🔗 Google Scholar</h3>
    <p>Google Scholar akademik profili</p>

    <a href="https://scholar.google.com/citations?user=zg-nl4wAAAAJ"
       target="_blank">
       Profilni ochish
    </a>
</div>

<div class="portfolio-card">
    <h3>🆔 ORCID</h3>
    <p>Xalqaro ilmiy identifikator profili.</p>
</div>

<div class="portfolio-card">
    <h3>🌐 ResearchGate</h3>
    <p>ResearchGate akademik tarmog‘i profili.</p>
</div>

<div class="portfolio-card">
    <h3>📊 Scopus</h3>
    <p>Scopus bazasidagi ilmiy faoliyat ma'lumotlari.</p>
</div>

</div>

</section>

{% endblock %}
