<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Muzey Lab{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="navbar">
    <div class="logo-box">
        <div class="logo-icon">M</div>
        <div class="logo-text">
            <strong>Muzey</strong>
            <span>Lab</span>
        </div>
    </div>

    <nav class="menu">
        <a href="/">Bosh sahifa</a>
        <a href="/portfolio">Pedagogik portfel</a>
        <a href="/student">Talabalar</a>
        <a href="/login">Login</a>
        <a href="/about">Biz haqimizda</a>
    </nav>
</header>

{% block content %}{% endblock %}

<section class="follow-section">
    <h2>Bizni kuzating</h2>

 <div class="socials">

    <a href="https://youtube.com" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/youtube.svg" alt="YouTube">
        <span>YouTube</span>
    </a>

    <a href="https://t.me" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/telegram.svg" alt="Telegram">
        <span>Telegram</span>
    </a>

    <a href="https://instagram.com" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram">
        <span>Instagram</span>
    </a>

    <a href="https://facebook.com" target="_blank">
        <img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook">
        <span>Facebook</span>
    </a>

</div>
</section>

<footer class="footer">
    <div>
        <div class="footer-brand">
            <div class="footer-icon">M</div>
            <h2>Muzey Lab</h2>
        </div>

        <p>
            Virtual Museum Pedagogy Lab — bo‘lajak tarix o‘qituvchilari uchun
            raqamli portfel va virtual muzey laboratoriyasi.
        </p>
    </div>

    <div>
        <h3>Menyu</h3>
        <a href="/">Bosh sahifa</a>
        <a href="/portfolio">Pedagogik portfel</a>
        <a href="/student">Talabalar</a>
        <a href="/login">Login</a>
        <a href="/about">Biz haqimizda</a>
    </div>

    <div>
        <h3>Aloqa uchun</h3>
        <p>📞 +998 93 269 15 67</p>
        <p>✉️ javlonbek932691567@gmail.com</p>
        <p>📍 Namangan viloyati Uchqo`rg`on tumani Yashiq MFY 3-uy</p>
    </div>
</footer>

</body>
</html>
