<!DOCTYPE html>
<html lang="uz">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<title>Login - Muzey Lab</title>
</head>

<body>

<div class="login-container">

<form class="login-box" action="/admin">

        <h1>Login</h1>

        <input type="text" placeholder="Login">

        <input type="password" placeholder="Parol">

        <button type="submit">Kirish</button>

    </form>

</div>

</body>
</html>
