<!DOCTYPE html>
<html lang="uz">

<head>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Login - Muzey Lab</title>

</head>

<body>

<div class="bg-animation"></div>

<section class="hero">

<div class="portfolio-card" style="max-width:500px;width:100%;padding:40px;">

<h1 style="font-size:60px;margin-bottom:30px;text-align:center;">
Login
</h1>

<form action="/admin" method="GET" class="student-form">

<input type="text" placeholder="Login">

<input type="password" placeholder="Parol">

<button type="submit">
Kirish
</button>

</form>

</div>

</section>

</body>
</html>
