{% extends "base.html" %}

{% block title %}Pedagogik portfel{% endblock %}

{% block content %}

<section class="students-section">

    <span class="small-title">Pedagogik portfel</span>

    <h2>Talabalar portfeli</h2>

    <div class="admin-stats">

        <div class="stat">
            <h3>Talabalar</h3>
            <strong>{{ students|length }}</strong>
        </div>

        <div class="stat">
            <h3>Portfellar</h3>
            <strong>{{ students|length }}</strong>
        </div>

    </div>

    <div class="students-grid">

        {% for student in students %}

        <div class="student-card">

            <img src="{{ student.image }}" alt="{{ student.name }}">

            <h3>{{ student.name }}</h3>

            <p>
                <strong>Guruh:</strong>
                {{ student.grade }}
            </p>

            <p>
                <strong>Portfolio ishlari:</strong>
                {{ student.works }}
            </p>

            <p>
                <strong>Reyting:</strong>
                {{ student.score }}
            </p>

            <a href="/student/{{ student.id }}" class="btn">
                Portfolio ko‘rish
            </a>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}
