{% extends "base.html" %}

{% block title %}Refleksiya{% endblock %}

{% block content %}

<section class="hero">
    <h1 class="hero-title">Refleksiya</h1>

    <p>
        Pedagogik faoliyatni tahlil qilish,
        o‘zini baholash va kasbiy rivojlanish yo‘nalishlari.
    </p>
</section>

<section class="floating-card">
    <h2>O‘zini baholash</h2>

    <div class="mini-card cyan">
        <h3>Kuchli tomonlar</h3>
        <p>Pedagogik va ilmiy faoliyatdagi yutuqlar.</p>
    </div>

    <div class="mini-card purple">
        <h3>Rivojlanish nuqtalari</h3>
        <p>Takomillashtirilishi lozim bo‘lgan ko‘nikmalar.</p>
    </div>

    <div class="mini-card blue">
        <h3>Kelgusi rejalar</h3>
        <p>Kasbiy va ilmiy rivojlanish istiqbollari.</p>
    </div>
</section>

{% endblock %}
