{% extends "base.html" %}

{% block title %}Talaba portfeli{% endblock %}

{% block content %}

<section class="student-detail">
    <div class="student-detail-card">

        <img src="{{ student.image }}" alt="{{ student.name }}">

        <div class="student-detail-info">
            <span class="small-title">Talaba portfeli</span>

            <h1>{{ student.name }}</h1>

            <p><strong>Guruh:</strong> {{ student.grade }}</p>
            <p><strong>Yo‘nalish:</strong> {{ student.direction }}</p>
            <p><strong>Ishlar soni:</strong> {{ student.works }}</p>
            <p><strong>Ball:</strong> {{ student.score }}</p>

            <p class="student-description">
                {{ student.description }}
            </p>

            <a href="/portfolio" class="btn">Portfellarga qaytish</a>
        </div>

    </div>
</section>

{% endblock %}
